<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects Page</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:replace="fragments/general.html :: footer"></div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button"  th:href="@{/project/new}">New</a>
        </div>
    </div>
    <div class="row" th:if= "${not #lists.isEmpty(project_list)}">
        <div class="col">
            <table class="table-dark table-hover col-md-12">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Todos</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project: ${project_list}">
                    <td th:text="${project.name}">name</td>
                    <td th:text="${project.todos.size}">size</td>
                    </td>
                    <td>
                        <a class="btn-sm btn-primary float-right" href="#" role="button" th:href="@{'/project/'+ ${project.id} +'/delete'}">Delete</a>
                        <a class="btn-sm btn-primary float-right" href="#" role="button" th:href="@{'/project/'+ ${project.id} +'/edit'}">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>