<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Project</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>

<div class="container p-3 my-3 bg-dark text-white">
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:replace="fragments/general.html :: footer"></div>

    <div class="row">
        <div class="col">
            <form action="#" th:action="@{/project/save}" th:object="${neworedit_project}" method="post">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"/>

                    <label for="name">Name</label>
                    <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</span>
                    <input type="text" class="form-control" id="name" th:field="*{name}"/>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>