<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:fragment="header">
        <h1>Thymeleaf Fragments sample</h1>
    </div>
    <p>Go to the next page to see fragments in action</p>
    <aside>
        <div>This is a sidebar</div>
    </aside>
    <div class="another">This is another sidebar</div>
    <footer th:fragment="footer">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <h2 class="navbar-brand">#</h2>
            <ul class="navbar-nav" th:with="view=${#httpServletRequest.getServletPath()}">
                <li class="nav-item" th:classappend="${(#strings.equals(view,'/') OR #strings.startsWith(view,'/todo'))? 'active' : ''}">
                    <a class="nav-link" href="#" th:href="@{'/'}">ToDos</a>
                </li>
                <li class="nav-item" th:classappend="${#strings.startsWith(view,'/project')? 'active' : ''}"}>
                    <a class="nav-link" href="#" th:href="@{'/project'}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>