<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index Page</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:replace="fragments/general.html :: footer"></div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button"
               th:href="@{/todo/new}"
               th:if= "${#authorization.expression('hasAuthority(''CREATE_TODO'')')}">New</a>
        </div>
    </div>
    <div class="row" th:if= "${not #lists.isEmpty(todo_list)}">
        <div class="col">
            <table class="table-dark table-hover col-md-12">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Headline</th>
                        <th>Description</th>
                        <th>Assigned User</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="todo: ${todo_list}">
                        <td th:text="${todo.project.name}">Project</td>
                        <td th:text="${todo.headline}">Thing</td>
                        <td th:text="${todo.description}">Do this</td>
                        <td th:text="${todo.assignedUser?.username}">Assigned User</td>
                        <td th:text="${todo.status}">Waiting</td>
                        <td>
                            <a class="btn-sm btn-primary float-right" href="#" role="button"
                               th:href="@{'/todo/'+ ${todo.id} +'/done'}"
                               th:if= "${todo.status.name == 'WAITING' and
                                (todo.assignedUser?.username == #authentication.name or
                                #authorization.expression('hasAuthority(''FINISH_TODO'')'))}">Finish</a>
                        </td>
                        <td>
                            <a class="btn-sm btn-primary float-right" href="#" role="button"
                               th:href="@{'/todo/'+ ${todo.id} +'/assign'}"
                               th:if= "${todo.status.name == 'WAITING' and
                               #authorization.expression('hasAuthority(''ASSIGN_USER'')')}">Assign</a>
                        </td>
                        <td>
                            <a class="btn-sm btn-primary float-right" href="#" role="button"
                               th:href="@{'/todo/'+ ${todo.id} +'/edit'}"
                               th:if= "${#authorization.expression('hasAuthority(''EDIT_TODO'')')}">Edit</a>
                        </td>
                        <td>
                            <a class="btn-sm btn-primary float-right" href="#" role="button"
                               th:href="@{'/todo/'+ ${todo.id} +'/delete'}"
                               th:if= "${#authorization.expression('hasAuthority(''DELETE_TODO'')')}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>