<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assigning Page</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
            </th:block> /*/-->
</head>
<body>
<div class="container p-3 my-3 bg-dark text-white">
    <header th:insert="fragments/general.html :: header"> </header>
    <div th:replace="fragments/general.html :: footer"></div>

    <div class="row">
        <div class="col">
            <form action="#" th:action="@{'/todo/assign'}" th:object="${assignCommand}" method="post">
                <div class="form-group">
                    <input type="hidden" th:field="*{todoId}"/>
                    <label for="user">User</label>
                    <select class="form-control" id="user" th:field="*{assignedUser}">
                        <option value="" hidden></option>
                        <option th:each="user : *{userList}"
                                th:value="${user}" th:text="${user}">options</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>